<div class="bg">
    <ion-item class="no-border heading margin" lines="none">
        <h4 class="rcn-srch text-grey" slot="start">{{ "Student Users" | translate }}</h4>
        <button slot="end" ion-button item-end button-small class="box-shadow-none bg-none no-border text-blue-li text-capitalize no-margin fs-w4 fs-12">
            {{ "See All" | translate }}
        </button>
    </ion-item>
    <div class="scrollmenu margin" id="style-7">
        <div class="user">
            <img class="timeline" src="assets/imgs/User/timiline.svg" />
            <img class="profileImg" src="assets/imgs/Ellipse.svg">
            <ion-row class="mg12 userDiv">
                <h4 class="username">{{'Rick Novak' | translate}}</h4>
                <img class="verifiedImg" src="assets/imgs/User/verified.svg" />
            </ion-row>
            <p class="userfrom">{{"French School of Kuala…" | translate}}</p>
            <p class="usermutuals">{{'8 mutual friends' | translate}}</p>

            <ion-button class="followbtn">
                <img slot="start" class="addpersonimg" src="assets/imgs/User/adduserIcon.svg" /> {{"Follow" | translate}}
            </ion-button>
        </div>
        <div class="user">
            <img class="timeline" src="assets/imgs/User/timiline.svg" />
            <img class="profileImg" src="assets/imgs/Ellipse.svg">
            <ion-row class="mg12 userDiv">
                <h4 class="username">{{'Rick Novak' | translate}}</h4>
                <img class="verifiedImg" src="assets/imgs/User/verified.svg" />
            </ion-row>
            <p class="userfrom">{{"French School of Kuala…" | translate}}</p>
            <p class="usermutuals">{{'8 mutual friends' | translate}}</p>

            <ion-button class="followbtn">
                <img slot="start" class="addpersonimg" src="assets/imgs/User/adduserIcon.svg" /> {{"Follow" | translate}}
            </ion-button>
        </div>
        <div class="user">
            <img class="timeline" src="assets/imgs/User/timiline.svg" />
            <img class="profileImg" src="assets/imgs/Ellipse.svg">
            <ion-row class="mg12 userDiv">
                <h4 class="username">{{'Rick Novak' | translate}}</h4>
                <img class="verifiedImg" src="assets/imgs/User/verified.svg" />
            </ion-row>
            <p class="userfrom">{{"French School of Kuala…" | translate}}</p>
            <p class="usermutuals">{{'8 mutual friends' | translate}}</p>

            <ion-button class="followbtn">
                <img slot="start" class="addpersonimg" src="assets/imgs/User/adduserIcon.svg" /> {{"Follow" | translate}}
            </ion-button>
        </div>
    </div>
</div>