<ion-content class="mainbg" [scrollEvents]="true">
    <ion-header class="header-sticky">
     <!-- 2nd nav bar S -->
        <ion-toolbar class="header-border">
            <app-global-search-filters selectedFilter="Company" [filtersArray]="searchCompanyFilter" (openFilter)="openFilter($event)" (clearAll)="clearAll()" ></app-global-search-filters>
        </ion-toolbar>
<!-- 2nd nav bar E -->
    </ion-header>
    <div class="result-div">
        <h3 class="fs-14 font-regular color-grey ion-no-margin">{{'We found' | translate}} {{gsHelper.searchObject.total_count}} {{'results' | translate}}</h3>
    </div>

    <!-- Company List -->
    <app-company></app-company>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!-- When no data found -->
    <div *ngIf="gsHelper.searchObject.total_count==0" class="no-data-div background-white ion-align-items-center ion-justify-content-center ion-text-center">
      <img class="no-data-found-img" src="../assets/imgs/noSearchdata.svg" /><h1 class="title font-medium">{{ "No result found." | translate }}</h1>
    </div>
</ion-content>