.disc-text-align{
    align-items: center;
    color: #000000;
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 0.2px;
    margin: auto;
    padding: 16px 0px 10px 14px;
    font-family: "Roboto-Regular", sans-serif !important;
}

.bg-agent-cover {
    height: 46px;
    width: 100%;
    position: relative;
    background: #13b9eb;
    border-radius: 4px 4px 0px 0px !important;
}

.agent-bg-image {
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    border: 1px solid #c9c9c9;
    padding: 22px 3px 4px 3px !important;
    border-radius: 4px !important;
}

.scroll-section {
    height: 140px !important;
    // margin-top: 20px !important;
}

.btn-agent-follow {
    background: white !important;
    border-radius: 4px !important;
    height: 1.5rem !important;
    font-size: 12px !important;
    letter-spacing: 0.6px;
    margin: 8px auto;
    color: #2b68a0 !important;
    border: 1px solid #2b68a0;
    width: 80%;
    box-shadow: none !important;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto-Medium", sans-serif !important;
}

.event-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.agnt-grey {
    color: #000000;
    font-size: 10px;
    letter-spacing: 0.1px;
    margin: 6px 0px;
    font-weight: normal;
    font-family: "Roboto-Regular", sans-serif !important;
}

.agnt-name {
    margin: auto;
    color: #000000;
    font-size: 14px;
    font-family: "Roboto-Bold", sans-serif !important;
}

.agnt-loc {
    margin: auto;
    font-size: 10px;
    color: #2B68A0;
    font-weight: normal;
    font-family: "Roboto-Regular", sans-serif !important;
}

.discntry-pad {
    padding: 0px 14px 0px 0px !important
}

.ion-scrol {
    height: 200px !important;
}

.cont-inr-section {
    padding: 14px 0px 14px 14px !important;
}

.a-icon {
    width: 10px;
    margin-right: 6px;
}

.rec-tit {
    color: #000000 !important;
    font-size: 16px !important;
    font-weight: normal;
}