<ng-container>
    <div class="bg">
        <ion-item class="no-border heading margin" lines="none">
            <h4 class="rcn-srch text-grey" slot="start">{{ "Events Near By You" | translate }}</h4>
        </ion-item>
        <div class="scrollmenu margin" id="style-7">
            <div class="event">
                <img class="eventimage" src="assets/imgs/Course/eventsec1.png" />
                <div class="imgOvelay"></div>
                <ion-row>
                    <ion-col size="2">
                        <p class="Month">
                            {{'May' | translate}}
                            <br>
                            <span class="Day">15</span>
                        </p>
                    </ion-col>
                    <ion-col size="10">
                        <p class="uni-title">{{"Monash Engineering Fest at Pause Fest..." | translate}}</p>
                        <p class="uni-add">{{'hosted by' | translate}} <span class="highlited">{{'Burger King Corporation' | translate}}</span></p>
                        <p class="uni-sub">{{"Fed Square • Arizona, USA" | translate}}</p>
                    </ion-col>

                </ion-row>
                <hr class="divider">
                <ion-row>
                    <ion-col size="6" class="tagsdiv">
                        <img src="assets/imgs/Course/join.svg" />
                        <p class="tags">{{'Join' | translate}}</p>
                    </ion-col>
                    <ion-col size="6" class="tagsdiv">
                        <img src="assets/imgs/Course/share.svg" />
                        <p class="tags">{{'Share' | translate}}</p>
                    </ion-col>
                </ion-row>
            </div>
            <div class="event">
                <img class="eventimage" src="assets/imgs/Course/eventsec1.png" />
                <div class="imgOvelay"></div>
                <ion-row>
                    <ion-col size="2">
                        <p class="Month">
                            {{'May' | translate}}
                            <br>
                            <span class="Day">15</span>
                        </p>
                    </ion-col>
                    <ion-col size="10">
                        <p class="uni-title">{{"Monash Engineering Fest at Pause Fest..." | translate}}</p>
                        <p class="uni-add">{{'hosted by' | translate}} <span class="highlited">{{'Burger King Corporation' | translate}}</span></p>
                        <p class="uni-sub">{{"Fed Square • Arizona, USA" | translate}}</p>
                    </ion-col>

                </ion-row>
                <hr class="divider">
                <ion-row>
                    <ion-col size="6" class="tagsdiv">
                        <img src="assets/imgs/Course/join.svg" />
                        <p class="tags">{{'Join' | translate}}</p>
                    </ion-col>
                    <ion-col size="6" class="tagsdiv">
                        <img src="assets/imgs/Course/share.svg" />
                        <p class="tags">{{'Share' | translate}}</p>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</ng-container>