@import '../../../../../theme/custom-header.css';
ion-header{
    ion-toolbar{
        height: 66px !important;
    }
}
.header-ios ion-toolbar{
    height: 66px !important;
}
.header-ios ion-toolbar:last-of-type{
    --border-width: 0 !important;
}
.header-title {
    margin: 16px 0px 0px 0px !important;
}
.user-item {
    border-bottom: 1px solid #e0e0e0;
    margin: 0px 16px;
    --padding-start: 0px;
    --padding-end: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    ion-label {
        padding: 20px 0px 20px 0px;
        margin: 0;
    }
}
.user-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    min-width: 40px;
    object-fit: cover;
    margin-right: 14px;
}
.label-no-border {
    border: none !important;
}