.about-section-wrap{
    padding: 16px 15px 8px 15px;
    .secion-title{
        margin: 0px 0px 12px 0px;
    }
    .about-description{
        line-height: 25px;
        margin: 8px 0px 8px 0px;
    }
}
p{
    font-size: 15px;
}