.result-txt {
    background: #EFF2F9;
    color: #454545 !important;
    font-size: 14px;
    margin: 0px;
    padding: 8px;
    padding-left: 20px;
    font-weight: 300;
    font-family: "Roboto-Regular", sans-serif;
}

.pad-8{
    padding: 8px;
}

.faq-ques {
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid #d7d7d7;
    padding: 15px;
    width: 100%;
    margin: auto;
}

.lf-icon {
    width: 24px !important;
    margin: 0px !important;
    margin-right: 4px !important;
}

.li-title {
    font-size: 12px !important;
    color: #2B68A0;
    font-weight: 300;
    font-family: "Roboto-Regular", sans-serif;
    margin-left: 6px;
}

.que-text {
    font-size: 14px !important;
    font-weight: 600;
    font-family: "Roboto-Medium", sans-serif;
    text-transform: capitalize;
    margin: 8px 0px;
    color: #000000;
}

.artcle-dates {
    padding-top: 16px;
    color: #77787B;
    font-size: 12px !important;
    font-family: "Roboto-Regular", sans-serif;
}

.trans-rot {
    transform: rotate(90deg)
}

.content-img {
    margin-right: 0px !important;
}

.int-stu {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.not-img-wdth {
    width: 60%
}

.dot-icon {
    width: 3px !important;
    margin-bottom: 10px;
}