<div class="bg">
    <ion-item class="no-border heading margin" lines="none">
        <h4 class="rcn-srch text-grey" slot="start">{{ "Services" | translate }}</h4>
        <button slot="end" ion-button item-end button-small class="box-shadow-none bg-none no-border text-blue-li text-capitalize no-margin fs-w4 fs-12">
          {{ "See All" | translate }}
      </button>
    </ion-item>
    <div class="scrollmenu margin" id="style-7">
        <div class="service">

            <h3 class="username">{{'Education Counselling Services' | translate}}
            </h3>

            <p class="userfrom">{{'Feeling confused about your future? Get your Education Counselling Session with our professional counsellors today' | translate}}</p>

            <ion-button class="btnbrown">
                {{"Let’s Go!" | translate}}
            </ion-button>
        </div>
        <div class="service">

            <h3 class="username">{{'Direct Application' | translate}}
            </h3>

            <p class="userfrom">{{'Apply directly to an Institution of your choosing' | translate}}</p>

            <ion-button class="btnblue">
                {{"Explore Plan" | translate}}
            </ion-button>
        </div>
        <div class="service">

            <h3 class="username">{{'Receive Offers' | translate}}
            </h3>

            <p class="userfrom">{{'Send your application to several different institutions' | translate}}</p>

            <ion-button class="btnblue">
                {{"Explore Plan" | translate}}
            </ion-button>
        </div>
    </div>
</div>