 <!--Video Container-->
 <div class="videoContainer">

  <div class="innerContainer">
      <ion-item lines="none">
        <div class="galleryContainer">
          <ion-label>{{"Members"|translate}}</ion-label>
          <ion-icon (click)="seeAllMembers()" src="../../../../../assets/edit icon.svg"></ion-icon>
        </div>
      </ion-item>
      <!--item network-->
<div class="networkContainer">
  <div class="innercontainer">
    <div class="left">
      <img src="../../../../assets/demoProfiles/profile1.png"/>
    </div>
    <div class="mid">
      <div class="name">
        <div class="label">
          <ion-label>Ester Smith</ion-label>
        </div>
        <div class="badge">
          <ion-icon src="../../../../assets/verified.svg"></ion-icon>
        </div>
      </div>
      <div class="type paddingtb">
        <ion-label>Multimedia Executive at Creative</ion-label>
      </div>
      <!--
      <div class="address paddingtb">
        <ion-label>Kuala Lumpur, Malaysia</ion-label>
      </div>
      <div class="mutualFriends paddingtb">
        <ion-label>72 mutual friends</ion-label>
      </div>
      -->

    </div>
    <!--
    <div class="right">
      <ion-icon src="../../../../assets/network/Group 13505.svg"></ion-icon>
    </div>
    -->
  </div>

</div>
<!--item network-->





    <!--see all-->
    <div class="seeMore">
      <ion-item>
        <div class="innerItem">
        <div class="seemoreLabek">
          <ion-label>See all</ion-label>
        </div>
      </div>
      </ion-item>
    </div>
     <!--see all-->
  </div>
</div>
<!--Video Container-->