@import '../../company-profile.page.scss';
.bottom-border {
  border-bottom: 1px solid #C7C8CA;
  padding-bottom: 20px !important;
}

.side-img {
  width: 37px;
  height: 37px;
}
.user-profile-education-div{
  border-top: 0px !important;
}

.education-institution-name{
  display: block !important;
}
.awards-info-div{
  margin-right: 20px !important;
}