<ng-container>
    <div class="bg">
        <ion-item class="no-border heading margin" lines="none">
            <h4 class="rcn-srch text-grey" slot="start">{{ "You May Like" | translate }}</h4>
        </ion-item>
        <div class="scrollmenu margin" id="style-7">
            <div class="event">
                <img class="eventimage" src="assets/imgs/Course/eventsec2.png" />
                <div class="imgOvelay"></div>
                <ion-row>
                    <ion-col size="2">
                        <p class="Month">
                            {{'Dec' | translate}}
                            <br>
                            <span class="Day">20</span>
                        </p>
                    </ion-col>
                    <ion-col size="10">
                        <p class="uni-title">{{"Christmas Fair" | translate}}</p>
                        <p class="uni-add">hosted by <span class="highlited">{{'Burger King Corporation' | translate}}</span></p>
                        <p class="uni-sub">{{"Fed Square • Arizona, USA" | translate}}</p>
                    </ion-col>

                </ion-row>
                <hr class="divider">
                <ion-row>
                    <ion-col size="6" class="tagsdiv">
                        <img src="assets/imgs/Course/joinselected.svg" />
                        <p class="selectedtags">{{'Join' | translate}}</p>
                    </ion-col>
                    <ion-col size="6" class="tagsdiv">
                        <img src="assets/imgs/Course/share.svg" />
                        <p class="tags">{{'Share' | translate}}</p>
                    </ion-col>
                </ion-row>
            </div>
            <div class="event">
                <img class="eventimage" src="assets/imgs/Course/eventsec2.png" />
                <div class="imgOvelay"></div>
                <ion-row>
                    <ion-col size="2">
                        <p class="Month">
                            {{'Dec' | translate}}
                            <br>
                            <span class="Day">20</span>
                        </p>
                    </ion-col>
                    <ion-col size="10">
                        <p class="uni-title">{{"Christmas Fair" | translate}}</p>
                        <p class="uni-add">hosted by <span class="highlited">{{'Burger King Corporation' | translate}}</span></p>
                        <p class="uni-sub">{{"Fed Square • Arizona, USA" | translate}}</p>
                    </ion-col>

                </ion-row>
                <hr class="divider">
                <ion-row>
                    <ion-col size="6" class="tagsdiv">
                        <img src="assets/imgs/Course/joinselected.svg" />
                        <p class="selectedtags">{{'Join' | translate}}</p>
                    </ion-col>
                    <ion-col size="6" class="tagsdiv">
                        <img src="assets/imgs/Course/share.svg" />
                        <p class="tags">{{'Share' | translate}}</p>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
</ng-container>