.eligiblelabel {
    color: #7E2BA0;
    font-size: 14px;
}

.eligiblebtn {
    color: #7E2BA0;
    font-weight: bolder;
    font-size: 14px;
    span {
        font-weight: 400;
    }
}

.divider {
    color: #2B68A0;
    height: 6px;
    width: 63px;
    background-color: #2B68A0;
    border-radius: 10px;
}

.normalLabel {
    font-size: 14px;
    color: black;
}

.endbtn {
    color: #2B68A0;
    font-weight: bolder;
    font-size: 14px;
    span {
        font-weight: 400;
    }
}