@import '../../company-profile.page.scss';

.col-pad-top {
  padding-top: 10px !important;
}

.col-pad-bottom {
  padding-bottom: 10px !important;
}

.error-msg {
  margin: 0%;
  margin-top: -16px;
  margin-left: -7px;
  text-align: start;
}
.text-field{
  margin-top: 0px !important;
}
.section-title{
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}
.specialities-item{
  margin-top: -10px !important;
}