<div class="bg">
    <ion-item class="no-border heading margin" lines="none">
        <h4 class="rcn-srch text-grey" slot="start">{{ "Articles" | translate }}</h4>
        <button slot="end" ion-button item-end button-small class="box-shadow-none bg-none no-border text-blue-li text-capitalize no-margin fs-w4 fs-12">
      {{ "See All" | translate }}
    </button>
    </ion-item>
    <div class="scrollmenu margin" id="style-7">
        <div class="article">
            <img class="Img" src="assets/imgs/Course/article1.png" />
            <h2 class="title">{{'Why The Freelance Life May Get Easier' | translate}}</h2>
            <p class="writer">{{'written by Monash University' | translate}}</p>
            <ion-row>
                <ion-col class="alignLeft">
                    <img src="assets/imgs/Course/articleicon1.png" />
                </ion-col>
                <ion-col class="alignRight">
                    <p class="Date">14 OCT , 2020</p>
                </ion-col>
            </ion-row>
        </div>
        <div class="article">
            <img class="Img" src="assets/imgs/Course/article2.png" />
            <h2 class="title">{{"How Much Do International Students..." | translate}}</h2>
            <p class="writer">{{'written by Yuzee' | translate}}</p>
            <ion-row>
                <ion-col class="alignLeft">
                    <img src="assets/imgs/Course/articleicon2.png" />
                </ion-col>
                <ion-col class="alignRight">
                    <p class="Date">14 OCT , 2020</p>
                </ion-col>
            </ion-row>
        </div>
        <div class="article">
            <img class="Img" src="assets/imgs/Course/article3.png" />
            <h2 class="title">{{'NYU Offers Free Jobs For All Medical Students' | translate}}</h2>
            <p class="writer">{{'written by Jorge Dashalay' | translate}}</p>
            <ion-row>
                <ion-col class="alignLeft">
                    <img src="assets/imgs/Course/articleicon3.png" />
                </ion-col>
                <ion-col class="alignRight">
                    <p class="Date">14 OCT , 2020</p>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>