.margin {
    margin-top: 10px;
}

.heading {
    height: 34px;
}

.bg {
    background: white;
}

.Img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    margin: 0%;
    font-size: 13px;
    white-space: break-spaces;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 0%;
}

.writer {
    font-size: 10px;
    text-align: left;
    padding: 0px 10px;
    color: #77787B;
}

.Date {
    margin: 0%;
    font-size: 10px;
    color: #77787B;
}

.alignLeft {
    padding-left: 10px;
    text-align: left;
}

.alignRight {
    padding-right: 10px;
    text-align: right;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    padding: 1%;
    height: auto;
    background: white;
    padding-bottom: 14px;
    padding-top: 14px;
}

div.scrollmenu div {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}