
@import '../../company-profile.page.scss';
@import '../../../../../../theme/custom-header.css';

.btn-colored-outline {
  height: 42px !important;
  margin: 15px 15px 13px 15px !important;
}
.margin-bottom-adjust{
  margin-bottom: -8px;
}