.backBtn {
    color: #2B68A0;
    margin-top: 11px;
    margin-right: 6px;
}

.heading {
    font-size: 14px;
    font-weight: 300;
}

.subheading {
    font-size: 12px;
}

.divider {
    height: 1px;
    border-width: 0;
    color: #C7C8CA;
    background-color: #C7C8CA;
    margin: 0px 23px 10px 23px;
}