<ion-header class="modal-blue-bar-header">
    <ion-toolbar>
        <div class="blue-bar" (click)="goBack()"></div>
        <h1 class="section-modal-title text-black ion-no-margin font-medium ion-text-center">{{ 'Deadline' | translate }}</h1>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="section-side-padding">
        <ion-row>
            <ion-col size="6" class="ion-no-padding pad-right-form">
                <ion-item class="datetime-item-field item-zero-pad-mar-bg margin-bottom-zero" mode="md">
                    <ion-label mode="md" position="stacked">{{ "From" | translate }}</ion-label>
                    <ion-row class="flex-center date-time-row">
                        <div class="flex-center">
                            <ion-datetime class="flex-center" mode="ios" placeholder="{{ 'Enter Date' | translate }}"
                                [(ngModel)]="startDate" [max]="nextMonth" pickerFormat="DD/MMMM/YYYY"
                                displayFormat="DD/MM/YYYY"></ion-datetime>
                            <ion-icon slot="end" class="date-time-arrow color-blue"
                                name="chevron-down-outline"></ion-icon>
                        </div>
                    </ion-row>
                </ion-item>
                <ion-col size="12" class="pad-ryt-zero pad-left-zero pad-botm-zero ion-visibility-hidden">
                    <div class="font-regular color-red validation-msg fs-12 form-error-validation-div">
                        {{ 'Enter start date' | translate }}
                    </div>
                </ion-col>
            </ion-col>

            <ion-col size="6" class="ion-no-padding pad-left-form">
                <ion-item class="datetime-item-field item-zero-pad-mar-bg margin-bottom-zero" mode="md">
                    <ion-label position="stacked" mode="md"> {{'To' | translate}} </ion-label>
                    <ion-row class="flex-center date-time-row">
                        <div class="flex-center">
                            <ion-datetime class="flex-center" mode="ios" placeholder="{{ 'Enter Date' | translate }}"
                                [(ngModel)]="endDate" [max]="nextMonth" pickerFormat="DD/MMMM/YYYY"
                                displayFormat="DD/MM/YYYY"></ion-datetime>
                            <ion-icon slot="end" class="date-time-arrow color-blue"
                                name="chevron-down-outline"></ion-icon>
                        </div>
                    </ion-row>
                </ion-item>
                <ion-col size="12" class="pad-ryt-zero pad-left-zero pad-botm-zero ion-visibility-hidden">
                    <div class="font-regular color-red validation-msg fs-12 form-error-validation-div">
                        {{ 'Enter end date' | translate }}
                    </div>
                </ion-col>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-footer>
    <ion-row class="flex-center">
        <ion-button expand="block" class="btn-colored-clear fs-16 font-regular color-black" (click)="reset()"
            mode="md">{{ 'Reset' | translate }}</ion-button>
        <ion-button expand="block" class="btn-colored-filled fs-14 font-medium color-white" (click)="apply()" mode="md"
            [disabled]="(endDate < startDate)" [disabled]="(!endDate == !startDate)">{{ 'Apply' | translate }}</ion-button>
    </ion-row>
</ion-footer>