<div class="bg">
    <ion-item class="no-border heading margin" lines="none">
        <h4 class="rcn-srch text-grey" slot="start">{{ "Apprenticeship/Traineeship" | translate }}</h4>
        <button slot="end" ion-button item-end button-small class="box-shadow-none bg-none no-border text-blue-li text-capitalize no-margin fs-w4 fs-12">
    {{ "See All" | translate }}
</button>
    </ion-item>
    <div class="scrollmenu margin" id="style-7">
        <div class="courses">
            <img src="assets/imgs/Course/NoPath - Copy (38).png" />
            <ion-row class="courcedata">
                <h3 class="username">{{"Professional Diploma..." | translate}}
                </h3>
                <p class="userfrom">{{"Melbourne, Australia" | translate}}</p>
                <p class="year">{{'Requirements' | translate}}
                    <span class="atar"><img slot="end" class="addpersonimg" src="assets/imgs/Course/employee.png" />{{'Traineeship' | translate}}</span>
                </p>
            </ion-row>
            <ion-button expand="block" class="followbtn">
                <img slot="end" class="addpersonimg" src="assets/imgs/Course/dropdown.svg" /> {{"1,700 AUD/year" | translate}}
            </ion-button>
        </div>
        <div class="courses">
            <img src="assets/imgs/Course/NoPath - Copy (39).png" />
            <ion-row class="courcedata">
                <h3 class="username">{{'Principles of Marketing' | translate}}
                </h3>
                <p class="userfrom">{{"Cape Town, South Africa" | translate}}</p>
                <p class="year">{{'Requirements' | translate}}
                    <span class="atar"><img slot="end" class="addpersonimg" src="assets/imgs/Course/employee.png" />{{'Traineeship' | translate}}</span>
                </p>
            </ion-row>
            <ion-button expand="block" class="followbtn">
                <img slot="end" class="addpersonimg" src="assets/imgs/Course/dropdown.svg" /> {{"8,700 AUD/year" | translate}}
            </ion-button>
        </div>
        <div class="courses">
            <img src="assets/imgs/Course/NoPath - Copy (38).png" />
            <ion-row class="courcedata">
                <h3 class="username">{{"Professional Diploma..." | translate}}
                </h3>
                <p class="userfrom">{{"Melbourne, Australia" | translate}}</p>
                <p class="year">{{'Requirements' | translate}}
                    <span class="atar"><img slot="end" class="addpersonimg" src="assets/imgs/Course/employee.png" />{{'Traineeship' | translate}}</span>
                </p>
            </ion-row>
            <ion-button expand="block" class="followbtn">
                <img slot="end" class="addpersonimg" src="assets/imgs/Course/dropdown.svg" /> {{"1,700 AUD/year" | translate}}
            </ion-button>
        </div>
    </div>
</div>