
<ion-header>
  <ion-toolbar class="header-border">
    <ion-buttons slot="start" class="wid-ht-header-btns">
      <ion-button (click)="dismiss()" class="back-btn-ripple">
        <img src="assets/imgs/arrows/arrow-left.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title class="text-black">{{ "Add to Your Profile" | translate }}</ion-title>
    <ion-buttons slot="end" class="wid-ht-header-btns"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <app-add-to-profile-main [itemList]="data" (newProfileItemEvent)="openSelectedModal($event)"></app-add-to-profile-main>
</ion-content>