// Skills
.section-title{
    margin-top: 0px !important;
}
.skill-set-name-div{
    border-bottom: 1px solid #e0e0e0;
    margin-left: 15px;
    padding: 2px 0px
}
.skills-list-wrap-div-last-item{
    border-bottom: none !important;
}