<!-- <ion-content class="bg"> -->
    <!-- <ion-header class="header-sticky"><ion-toolbar class="header-border">

    </ion-toolbar></ion-header> -->
    <!-- Required later -->
    <!-- <app-recent-searches (recentSearchData)="recentSearchData($event)" *ngIf="!showSearchCategoryList"></app-recent-searches>
    <app-search-suggestion *ngIf="!showSearchCategoryList"></app-search-suggestion> -->
    <!-- <div *ngIf="showSearchCategoryList"> -->
        <!-- <app-search-categories-list [searchData]="SendGlobalData" (categoryData)="readOutputValueEmitted($event)">
        </app-search-categories-list> -->
    <!-- </div> -->
    <ion-router-outlet></ion-router-outlet>
<!-- </ion-content> -->