<ion-content>
    <ion-header class="landing-header">
        <ion-toolbar class="header-border">
            <div class="scrollmenu">
                <ion-button mode="md"class="btn-colored-clear fs-13 font-regular color-black"
                *ngFor="let cat of categoriesList" [routerLink]="cat.link">{{ cat.name | translate }}
                </ion-button>
            </div>
        </ion-toolbar>
    </ion-header>

    <app-people-list [showSeeAllBtn]="true"></app-people-list>
    <app-courses [showSeeAllBtn]="true"></app-courses>
    <app-intitution [showSeeAllBtn]="true"></app-intitution>
    <app-scholarships [showSeeAllBtn]="true"></app-scholarships>
    <app-company [showSeeAllBtn]="true"></app-company>
    <app-jobs [showSeeAllBtn]="true"></app-jobs>
    <app-events [showSeeAllBtn]="true"></app-events>
    <!-- <app-off-campus-classes></app-off-campus-classes>
    <app-traineeship></app-traineeship>
    <app-short-courses></app-short-courses>
    <app-articles></app-articles> -->
    <!-- <app-videos></app-videos> -->
</ion-content>