<ion-content>
    <hr class="divider">
    <ion-list>
        <ion-item lines="none">
            <ion-label class="eligiblelabel">
                <h4 class="eligiblelabel">{{'Eligible for Asylum Seeker' | translate}} </h4>
                <p class="eligiblelabel">{{'VET Program' | translate}}</p>
            </ion-label>
            <p slot="end" class="eligiblebtn">20,832 AUD<span>{{'/tuition' | translate}}</span></p>
        </ion-item>
        <ion-item lines="none">
            <ion-label class="eligiblelabel">
                <h4 class="eligiblelabel">{{'Eligible for Asylum Seeker' | translate}} </h4>
                <p class="eligiblelabel">{{'VET Program' | translate}}</p>
            </ion-label>
            <p slot="end" class="eligiblebtn">20,832 AUD<span>{{'/tuition' | translate}}</span></p>
        </ion-item>
        <ion-item lines="none">
            <ion-label class="eligiblelabel">
                <h4 class="eligiblelabel">{{'Eligible for Asylum Seeker' | translate}} </h4>
                <p class="eligiblelabel">{{'VET Program' | translate}}</p>
            </ion-label>
            <p slot="end" class="eligiblebtn">20,832 AUD<span>{{'/tuition' | translate}}</span></p>
        </ion-item>
        <ion-item lines="none">
            <h4 class="normalLabel">{{'Domestic Fee' | translate}}</h4>
            <p slot="end" class="endbtn">29,375 AUD<span>{{'/year' | translate}}</span></p>
        </ion-item>
        <ion-item lines="none">
            <h4 class="normalLabel">{{'International Fee' | translate}}</h4>
            <p slot="end" class="endbtn">239,375 AUD<span>{{'/year' | translate}}</span></p>
        </ion-item>
        <ion-item lines="none">
            <h4 class="normalLabel">{{'Member Fee' | translate}}</h4>
            <p slot="end" class="endbtn">485.00 AUD<span>{{'/year' | translate}}</span></p>
        </ion-item>
        <ion-item lines="none">
            <h4 class="normalLabel">{{'Subscriber Fee' | translate}}</h4>
            <p slot="end" class="endbtn">585.00 AUD<span>{{'/year' | translate}}</span></p>
        </ion-item>
        <ion-item lines="none">
            <h4 class="normalLabel">{{'Non - Member Fee' | translate}}</h4>
            <p slot="end" class="endbtn">285.00 AUD<span>{{'/year' | translate}}</span></p>
        </ion-item>
    </ion-list>
</ion-content>