<div class="bg">
    <ion-item class="no-border heading margin" lines="none">
        <h4 class="rcn-srch text-grey" slot="start">{{ "Short Courses" | translate }}</h4>
        <button slot="end" ion-button item-end button-small class="box-shadow-none bg-none no-border text-blue-li text-capitalize no-margin fs-w4 fs-12">
  {{ "See All" | translate }}
</button>
    </ion-item>
    <div class="scrollmenu margin" id="style-7">
        <div class="courses">
            <img src="assets/imgs/Course/NoPath - Copy (40).png" />
            <ion-row class="courcedata">
                <h3 class="username">{{'Social Media Marketing' | translate}}
                </h3>
                <p class="userfrom">{{'Melbourne, Australia' | translate}}</p>
                <p class="Month">{{'FEB' | translate}} <span class="date">4</span> <span class="daypurple">M</span><span class="daygrey">T</span><span class="daypurple">W</span><span class="daypurple">T</span><span class="daypurple">F</span><span class="daypurple">S</span>
                    <span class="daygrey">S</span>
                </p>
            </ion-row>
            <ion-button expand="block" class="followbtn">
                <img slot="end" class="addpersonimg" src="assets/imgs/Course/dropdown.svg" /> {{"2,800 AUD/year" | translate}}
            </ion-button>
        </div>
        <div class="courses">
            <img src="assets/imgs/Course/NoPath - Copy (41).png" />
            <ion-row class="courcedata">
                <h3 class="username">{{'Food as Medicine' | translate}}
                </h3>
                <p class="userfrom">{{'Cape Town, South Africa' | translate}}</p>
                <p class="Month">{{'FEB' | translate}} <span class="date">4</span> <span class="daypurple">M</span><span class="daygrey">T</span><span class="daypurple">W</span><span class="daypurple">T</span><span class="daypurple">F</span><span class="daypurple">S</span>
                    <span class="daygrey">S</span>
                </p>
            </ion-row>
            <ion-button expand="block" class="followbtn">
                <img slot="end" class="addpersonimg" src="assets/imgs/Course/dropdown.svg" /> {{"8,700 AUD/year" | translate}}
            </ion-button>
        </div>
        <div class="courses">
            <img src="assets/imgs/Course/NoPath - Copy (40).png" />
            <ion-row class="courcedata">
                <h3 class="username">{{'Social Media Marketing' | translate}}
                </h3>
                <p class="userfrom">{{'Melbourne, Australia' | translate}}</p>
                <p class="Month">{{'FEB' | translate}} <span class="date">4</span> <span class="daypurple">M</span><span class="daygrey">T</span><span class="daypurple">W</span><span class="daypurple">T</span><span class="daypurple">F</span><span class="daypurple">S</span>
                    <span class="daygrey">S</span>
                </p>
            </ion-row>
            <ion-button expand="block" class="followbtn">
                <img slot="end" class="addpersonimg" src="assets/imgs/Course/dropdown.svg" /> {{"2,800 AUD/year" | translate}}
            </ion-button>
        </div>
    </div>
</div>