.result-txt {
  background: #eeeeee;
  color: #222222 !important;
  font-size: 14px;
  margin: 0px;
  padding: 8px;
  padding-left: 20px;
  font-weight: 400;
}

.job-icon {
  width: 54px;
  border-radius: 50%;
  margin: 20px 0 0 5px;
}

.empty {
  width: 100%;
  margin-top: 5em;
}

.no-txt {
  font-size: 18px;
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
}

.no-desc {
  text-align: center;
  color: gray;
  line-height: 25px;
  font-size: 15px;
}

.dates {
  float: right;
  margin-right: 30px;
  font-weight: normal;
  font-size: 13px;
  color: #979595;
}

.more-icon {
  width: 8px;
  position: absolute;
  right: 5px;
  top: 15px;
}

.job-loc-txt {
  margin: 0;
  font-size: 13px;
  color: #5f5b5b;
}

.border-btm {
  border-bottom: 10px solid #eeeeee;
}

.pad-lft {
  padding: 0 0 0 5px;
}

.box-inst {
  border-bottom: 1px solid #dedede !important;
  padding-bottom: 12px !important;
  margin-left: 12px !important;
}

.instituion-titl {
  width: 100%;
  letter-spacing: 0.2px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px !important;
  font-weight: bold;
  margin-bottom: 5px !important;
  color: #2b68a0 !important;
}

.job-title {
  width: 100%;
  letter-spacing: 0.2px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px !important;
  margin-bottom: 5px !important;
  color: #3a3a3a !important;
}

.job-comp {
  width: 100%;
  letter-spacing: 0.2px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px !important;
  margin: 0px;
  margin-bottom: 8px !important;
  color: #000 !important;
}

.mod-css {
  margin: 8px 0px !important;
}

.mod-img {
  width: 14px;
  margin-right: 7px;
}

.salaryText {
  font-size: 15px !important;
  color: #2d2d2d !important;
  margin: 0px;
  margin-bottom: 5px !important;
}

.ins-location {
  font-size: 13px;
  color: #000000;
  font-weight: 400;
}
.ins-apply {
  font-size: 13px;
  color: #147491;
  font-weight: 400;
}
