.section-title{
    margin: 6px 0px 5px 0px !important;
}
.internship-program-cards{
    border-radius: 10px;
    box-shadow: 0px 0px 2px #A7A9AC70;
    height: 125px;
    margin: 12px 0px 15px 0px;
}
.img-div{
    height: 125px;
    width: 91px;
    border-radius: 10px 0px 0px 10px;
    img{
        object-fit: cover;
        width: 91px;
        min-width: 91px;
        height: 125px;
        border-radius: 10px 0px 0px 10px;
    }
}