<div class="bg">
    <ion-item class="no-border heading margin" lines="none">
        <h4 class="rcn-srch text-grey" slot="start">{{ "Videos" | translate }}</h4>
        <button slot="end" ion-button item-end button-small class="box-shadow-none bg-none no-border text-blue-li text-capitalize no-margin fs-w4 fs-12">
      {{ "See All" | translate }}
    </button>
    </ion-item>
    <div class="scrollmenu margin" id="style-7">
        <div class="video">
            <img class="eventbg" src="assets/imgs/Course/Videos1.png" />
            <div class="eventdata">
                <p class="date">5:00</p>
                <ion-row class="playbtn">
                    <img src="assets/imgs/Course/playbtn.png" />
                </ion-row>
                <h3 class="name">{{'Training for you' | translate}}</h3>
            </div>
        </div>
        <div class="video">
            <img class="eventbg" src="assets/imgs/Course/Videos2.png" />
            <div class="eventdata">
                <p class="date">5:00</p>
                <ion-row class="playbtn">
                    <img src="assets/imgs/Course/playbtn.png" />
                </ion-row>
                <p class="name"> {{'Look at how student’s apply to courses' | translate}}</p>
            </div>
        </div>
        <div class="video">
            <img class="eventbg" src="assets/imgs/Course/Videos3.png" />
            <div class="eventdata">
                <p class="date">5:00</p>
                <ion-row class="playbtn">
                    <img src="assets/imgs/Course/playbtn.png" />
                </ion-row>
                <p class="name"> {{'Wanna graduate early? This is how you do its' | translate}}</p>
            </div>
        </div>
    </div>
</div>