@import "../../../company-profile.page.scss";
@import '../../../../../../../theme/custom-header.css';

.section-title{
  margin-top: 0px !important;
}
.btn-colored-outline {
  height: 42px !important;
  margin: 15px 15px 13px 15px !important;
}