<ion-header class="bg-white">
  <ion-toolbar #toolbar class="header-border">
    <div>
      <ion-buttons slot="start" class="wid-ht-header-btns">
        <ion-button (click)="goBack()" class="back-btn-ripple back-btn">
          <img src="assets/imgs/arrows/arrow-left.svg" class="header-icon"/>
        </ion-button>
      </ion-buttons>
      <ion-searchbar #search autocorrect="off" class="customSearchBox-without-close-btn search-box-custom-icon"
      placeholder="{{ 'Search' | translate }}">
        <img src="assets/svgs/location-search-icon.svg">
      </ion-searchbar>
      <ion-buttons slot="end" class="wid-ht-header-btns flex-center">
        <ion-button (click)="open3dotpopup()" class="back-btn-ripple more-option-btn">
          <img src="assets/imgs/instituion-profile/menuicon.svg"/>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content scrollEvents="true" [appHideHeader]="toolbar">
  <app-header-home></app-header-home>
  <app-navbar></app-navbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</ion-content>
