<div>
    <app-gsp-people-you-may-know></app-gsp-people-you-may-know>
    <app-gsp-services></app-gsp-services>
    <app-gsp-top-ten-courses></app-gsp-top-ten-courses>
    <app-gsp-top-ten-institutes></app-gsp-top-ten-institutes>
    <div class="section-divider-8">
            <p class="fs-16 disc-text-align search-title">
                 {{"Latest Article for today" | translate}} 
            </p>
            <div class="borr ltst-artic-padd"  *ngFor="let article of articleList">
                <ion-row nowrap>
                    <ion-col col-8>
                        <ion-item class="no-padding cs-label"> 
                            <img src="assets/imgs/home/news.png"  item-start class="lf-icon-article"/>
                            <b class="fs-14 li-art-title">{{article.heading}}</b>
                        </ion-item> 
                        <p class="li-art-des" [innerHTML]="article.content">
                            
                        </p>
                        <p class="fs-12 mar-auto articl-clr">2 MEI 2019 | {{article.websiteUrl}}</p>
                    </ion-col>
                    <ion-col col-4 text-right padding-top>
                            <img src="assets/imgs/home/more_vert.png" class="dot-cs"/>
                            <div text-right>
                                <img src="assets/imgs/home/homepage.png" class="ar-img" />
                            </div>
                    </ion-col>
                </ion-row>
            </div>
            <!-- <ion-infinite-scroll  (ionInfinite)="doInfiniteLatestArticle($event)" *ngIf="articleObj.hasNextPage">
                    <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll> -->
    </div>
</div>